<div class="card" class="-mt-3">
  <div class="card-header text-white bg-info">
    <h5> Listes de Produits</h5>
  </div>
  <div class="card-body">

    <table ng-if="data && data.length"
    class="table table-bordered table-striped">
      <thead>
        <tr>
            <th>Code</th>
            <th>Titre</th>
            <th>Prix Unitaire</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let p of data">
            <td scope="row">{{p.code}}</td>
            <td>{{p.titre}}</td>
            <td>{{p.prixUnitaire | currency: 'EUR':'symbol':'7.2-4'}}</td>
          </tr>
      </tbody>
    </table>






  </div>

</div>
